
.firstText,
.secondText,
.thirdText
{
    font-size: clamp(1.4rem, 2vw, 2rem);
}

.firstText
{
    color: var(--button-gradient-middle);
    line-height: 6rem;
}

.secondText
{
    color:  var(--button-gradient-start);
}

.thirdText
{
    color: var(--button-gradient-end);
}

